# codegen
CODEGEN_POCO_SUBGRAPH_URL="https://thegraph.arbitrum.iex.ec/api/subgraphs/id/B1comLe9SANBLrjdnoNTJSubbeC7cY7EoNu6zD82HeKy"
CODEGEN_DATAPROTECTOR_SUBGRAPH_URL="https://thegraph.arbitrum.iex.ec/api/subgraphs/id/Ep5zs5zVr4tDiVuQJepUu51e5eWYJpka624X4DMBxe3u"

# dev
VITE_REOWN_PROJECT_ID=
VITE_CLERK_PUBLISHABLE_KEY=
VITE_FAUCET_API_URL='https://dev-rlc-faucet.iex.ec'

# prod 
VITE_FAUCET_API_URL='https://rlc-faucet.iex.ec'