.profile-avatar-bg-1 {
  background-image: url('../../assets/profiles-avatars/Avatar1.png');
}

.profile-avatar-bg-2 {
  background-image: url('../../assets/profiles-avatars/Avatar2.png');
}

.profile-avatar-bg-3 {
  background-image: url('../../assets/profiles-avatars/Avatar3.png');
}

.profile-avatar-bg-4 {
  background-image: url('../../assets/profiles-avatars/Avatar4.png');
}

.profile-avatar-bg-5 {
  background-image: url('../../assets/profiles-avatars/Avatar5.png');
}

.profile-avatar-bg-6 {
  background-image: url('../../assets/profiles-avatars/Avatar6.png');
}

.profile-avatar-bg-7 {
  background-image: url('../../assets/profiles-avatars/Avatar7.png');
}

.profile-avatar-bg-8 {
  background-image: url('../../assets/profiles-avatars/Avatar8.png');
}

.profile-avatar-bg-9 {
  background-image: url('../../assets/profiles-avatars/Avatar9.png');
}

.profile-avatar-bg-10 {
  background-image: url('../../assets/profiles-avatars/Avatar10.png');
}

.profile-avatar-bg-11 {
  background-image: url('../../assets/profiles-avatars/Avatar11.png');
}

.profile-avatar-bg-12 {
  background-image: url('../../assets/profiles-avatars/Avatar12.png');
}

.profile-avatar-bg-13 {
  background-image: url('../../assets/profiles-avatars/Avatar13.png');
}

.profile-avatar-bg-14 {
  background-image: url('../../assets/profiles-avatars/Avatar14.png');
}

.profile-avatar-bg-15 {
  background-image: url('../../assets/profiles-avatars/Avatar15.png');
}

.profile-avatar-bg-16 {
  background-image: url('../../assets/profiles-avatars/Avatar16.png');
}

.profile-avatar-bg-17 {
  background-image: url('../../assets/profiles-avatars/Avatar17.png');
}

.profile-avatar-bg-18 {
  background-image: url('../../assets/profiles-avatars/Avatar18.png');
}

.profile-avatar-bg-19 {
  background-image: url('../../assets/profiles-avatars/Avatar19.png');
}

.profile-avatar-bg-20 {
  background-image: url('../../assets/profiles-avatars/Avatar20.png');
}

.profile-avatar-bg-21 {
  background-image: url('../../assets/profiles-avatars/Avatar21.png');
}

.profile-avatar-bg-22 {
  background-image: url('../../assets/profiles-avatars/Avatar22.png');
}

.profile-avatar-bg-23 {
  background-image: url('../../assets/profiles-avatars/Avatar23.png');
}

.profile-avatar-bg-24 {
  background-image: url('../../assets/profiles-avatars/Avatar24.png');
}

.profile-avatar-bg-25 {
  background-image: url('../../assets/profiles-avatars/Avatar25.png');
}

.profile-avatar-bg-26 {
  background-image: url('../../assets/profiles-avatars/Avatar26.png');
}

.profile-avatar-bg-27 {
  background-image: url('../../assets/profiles-avatars/Avatar27.png');
}

.profile-avatar-bg-28 {
  background-image: url('../../assets/profiles-avatars/Avatar28.png');
}

.profile-avatar-bg-29 {
  background-image: url('../../assets/profiles-avatars/Avatar29.png');
}

.profile-avatar-bg-30 {
  background-image: url('../../assets/profiles-avatars/Avatar30.png');
}

.profile-avatar-bg-31 {
  background-image: url('../../assets/profiles-avatars/Avatar31.png');
}

.profile-avatar-bg-32 {
  background-image: url('../../assets/profiles-avatars/Avatar32.png');
}

.profile-avatar-bg-33 {
  background-image: url('../../assets/profiles-avatars/Avatar33.png');
}

.profile-avatar-bg-34 {
  background-image: url('../../assets/profiles-avatars/Avatar34.png');
}

.profile-avatar-bg-35 {
  background-image: url('../../assets/profiles-avatars/Avatar35.png');
}

.profile-avatar-bg-36 {
  background-image: url('../../assets/profiles-avatars/Avatar36.png');
}

.profile-avatar-bg-37 {
  background-image: url('../../assets/profiles-avatars/Avatar37.png');
}

.profile-avatar-bg-38 {
  background-image: url('../../assets/profiles-avatars/Avatar38.png');
}

.profile-avatar-bg-39 {
  background-image: url('../../assets/profiles-avatars/Avatar39.png');
}

.profile-avatar-bg-40 {
  background-image: url('../../assets/profiles-avatars/Avatar40.png');
}

.profile-avatar-bg-41 {
  background-image: url('../../assets/profiles-avatars/Avatar41.png');
}

.profile-avatar-bg-42 {
  background-image: url('../../assets/profiles-avatars/Avatar42.png');
}

.profile-avatar-bg-43 {
  background-image: url('../../assets/profiles-avatars/Avatar43.png');
}

.profile-avatar-bg-44 {
  background-image: url('../../assets/profiles-avatars/Avatar44.png');
}

.profile-avatar-bg-45 {
  background-image: url('../../assets/profiles-avatars/Avatar45.png');
}

.profile-avatar-bg-46 {
  background-image: url('../../assets/profiles-avatars/Avatar46.png');
}

.profile-avatar-bg-47 {
  background-image: url('../../assets/profiles-avatars/Avatar47.png');
}

.profile-avatar-bg-48 {
  background-image: url('../../assets/profiles-avatars/Avatar48.png');
}

.profile-avatar-bg-49 {
  background-image: url('../../assets/profiles-avatars/Avatar49.png');
}

.profile-avatar-bg-50 {
  background-image: url('../../assets/profiles-avatars/Avatar50.png');
}

.profile-avatar-bg-51 {
  background-image: url('../../assets/profiles-avatars/Avatar51.png');
}

.profile-avatar-bg-52 {
  background-image: url('../../assets/profiles-avatars/Avatar52.png');
}

.profile-avatar-bg-53 {
  background-image: url('../../assets/profiles-avatars/Avatar53.png');
}

.profile-avatar-bg-54 {
  background-image: url('../../assets/profiles-avatars/Avatar54.png');
}

.profile-avatar-bg-55 {
  background-image: url('../../assets/profiles-avatars/Avatar55.png');
}

.profile-avatar-bg-56 {
  background-image: url('../../assets/profiles-avatars/Avatar56.png');
}

.profile-avatar-bg-57 {
  background-image: url('../../assets/profiles-avatars/Avatar57.png');
}

.profile-avatar-bg-58 {
  background-image: url('../../assets/profiles-avatars/Avatar58.png');
}

.profile-avatar-bg-59 {
  background-image: url('../../assets/profiles-avatars/Avatar59.png');
}

.profile-avatar-bg-60 {
  background-image: url('../../assets/profiles-avatars/Avatar60.png');
}

.profile-avatar-bg-61 {
  background-image: url('../../assets/profiles-avatars/Avatar61.png');
}
