@import 'tailwindcss';
@import 'tw-animate-css';
@import '@clerk/themes/shadcn.css';

/* @custom-variant dark (&:is(.dark *)); */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-*: initial;

  --color-white: #ffffff;
  --color-black: #000000;

  --color-yellow-50: #fefbf0;
  --color-yellow-100: #fcecc0;
  --color-yellow-200: #f9dd90;
  --color-yellow-300: #fcd15a;
  --color-yellow-400: #f8c22a;
  --color-yellow-500: #ebae04;
  --color-yellow-600: #b98903;
  --color-yellow-700: #876402;
  --color-yellow-800: #553f02;
  --color-yellow-900: #231a01;

  --color-grey-10: #fcfcfc;
  --color-grey-50: #f2f2f7;
  --color-grey-100: #e5e5ea;
  --color-grey-200: #d3d3d8;
  --color-grey-300: #a3a3a8;
  --color-grey-400: #82828e;
  --color-grey-500: #5d5d69;
  --color-grey-600: #303038;
  --color-grey-700: #1d1d24;
  --color-grey-800: #14141b;
  --color-grey-900: #0d0d12;

  --color-green-50: #f1fdf9;
  --color-green-100: #cdf9eb;
  --color-green-200: #a0f3d8;
  --color-green-300: #74ecc5;
  --color-green-400: #39dba5;
  --color-green-500: #0fc78b;
  --color-green-600: #00a36e;
  --color-green-700: #00704b;
  --color-green-800: #003d29;
  --color-green-900: #001a11;

  --color-blue-50: #f5fbff;
  --color-blue-100: #d1edff;
  --color-blue-200: #9edaff;
  --color-blue-300: #6dc7ff;
  --color-blue-400: #42b0f5;
  --color-blue-500: #1093e5;
  --color-blue-600: #0077c2;
  --color-blue-700: #00558a;
  --color-blue-800: #003252;
  --color-blue-900: #001624;

  --color-purple-50: #fcf2fc;
  --color-purple-100: #f2c0f2;
  --color-purple-200: #e995e9;
  --color-purple-300: #e06be0;
  --color-purple-400: #cd4ccd;
  --color-purple-500: #b332b3;
  --color-purple-600: #941f94;
  --color-purple-700: #6a166a;
  --color-purple-800: #3f0d3f;
  --color-purple-900: #1e061e;

  --color-berry-50: #fef1f6;
  --color-berry-100: #fac6da;
  --color-berry-200: #f693b8;
  --color-berry-300: #ef6799;
  --color-berry-400: #ce2c68;
  --color-berry-500: #bb1653;
  --color-berry-600: #9e0d43;
  --color-berry-700: #710930;
  --color-berry-800: #42051c;
  --color-berry-900: #21030e;

  --color-red-50: #fef1f1;
  --color-red-100: #f8b0b0;
  --color-red-200: #f38181;
  --color-red-300: #ef5454;
  --color-red-400: #d63838;
  --color-red-500: #bf3131;
  --color-red-600: #9a1d1d;
  --color-red-700: #601616;
  --color-red-800: #360c0c;
  --color-red-900: #1d0707;

  --color-orange-50: #fff8f0;
  --color-orange-100: #ffe0bd;
  --color-orange-200: #ffc480;
  --color-orange-300: #ffad4d;
  --color-orange-400: #f49425;
  --color-orange-500: #da7b0b;
  --color-orange-600: #b26000;
  --color-orange-700: #804500;
  --color-orange-800: #4d2900;
  --color-orange-900: #1f1100;

  --font-sans: 'Mulish Variable', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-anybody: 'Anybody Variable', sans-serif;
  --font-anybody--font-variation-settings: 'wdth' 120;
  --font-mono: 'Space Mono', monospace;
  --font-grotesk: 'Space Grotesk', sans-serif;

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-4px);
    }
    40% {
      transform: translateX(4px);
    }
    60% {
      transform: translateX(-4px);
    }
    80% {
      transform: translateX(4px);
    }
  }

  --animate-shake: shake 0.4s ease-in-out;

  --breakpoint-3xl: 124rem;
}

@theme inline {
  --radius: 0.625rem;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-tooltip: var(--tooltip);
  --color-tooltip-foreground: var(--tooltip-foreground);

  --color-brand: var(--brand);
  --color-brand-foreground: var(--brand-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-intermediate: var(--intermediate);
  --color-intermediate-foreground: var(--intermediate-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);

  --color-success: var(--color-green-100);
  --color-success-foreground: var(--color-green-600);
  --color-success-border: var(--color-green-600);

  --color-danger: var(--color-red-100);
  --color-danger-foreground: var(--color-red-300);
  --color-danger-border: var(--color-red-300);

  --color-warning: var(--color-orange-100);
  --color-warning-foreground: var(--color-orange-300);
  --color-warning-border: var(--color-orange-300);

  --color-info: var(--color-blue-100);
  --color-info-foreground: var(--color-blue-300);
  --color-info-border: var(--color-blue-300);

  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --background: var(--color-white);
  --foreground: var(--color-grey-900);

  --card: var(--color-white);
  --card-foreground: var(--color-grey-900);

  --popover: var(--color-grey-50);
  --popover-foreground: var(--color-grey-800);

  --tooltip: var(--color-grey-50);
  --tooltip-foreground: var(--color-grey-800);
  --tooltip-border: var(--color-grey-700);

  --brand: var(--color-yellow-300);
  --brand-foreground: var(--color-grey-900);

  --primary: #183ee9;
  --primary-foreground: #f4f7fc;

  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);
  --muted-foreground: var(--color-grey-500);

  --intermediate: var(--color-grey-200);
  --intermediate-foreground: var(--color-grey-500);

  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);

  --destructive: var(--color-red-400);
  --border: var(--color-grey-200);
  --input: oklch(0.922 0 0);
  --ring: var(--color-primary);
}

.dark {
  --background: var(--color-grey-900);
  --foreground: var(--color-grey-50);

  --card: var(--color-grey-900);
  --card-foreground: var(--color-grey-50);

  --popover: var(--color-grey-800);
  --popover-foreground: var(--color-grey-50);

  --tooltip: var(--color-grey-800);
  --tooltip-foreground: var(--color-grey-50);

  --brand: var(--color-yellow-300);
  --brand-foreground: var(--color-grey-900);

  --primary: #c0cbff;
  --primary-foreground: var(--color-muted);

  --secondary: var(--color-grey-600);
  --secondary-foreground: var(--color-grey-50);

  --muted: var(--color-grey-700);
  --muted-foreground: var(--color-grey-200);

  --intermediate: var(--color-grey-500);
  --intermediate-foreground: var(--color-grey-200);

  --accent: var(--color-grey-600);
  --accent-foreground: var(--color-white);

  --destructive: var(--color-red-500);
  --border: var(--color-grey-600);
  --input: var(--color-grey-400);
  --ring: var(--color-primary);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply font-anybody font-semibold;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans font-semibold;
  }
  button,
  a {
    @apply cursor-pointer;
  }

  *::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-intermediate rounded-full;
  }
  *::-webkit-scrollbar-track {
    @apply bg-popover rounded-full;
  }
}
